<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>404找不到页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <style th:inline="text">
        html,
        body {
            height: 100%;
            overflow: hidden;
        }

        body {
            background: #F0EEEF url([[@{/static/common/images/404.png}]]) no-repeat center center;
            /*background-size: 99%;
            background-position-x: 0px;
            background-position-y: -63px;*/
        }
    </style>
</head>

<body>
</body>

</html>
