<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="renderer" content="webkit"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="format-detection" content="telephone=no"/>

<link th:href="@{/static/common/plugins/fontawesome/css/font-awesome.min.css}" rel="stylesheet"/>
<link th:href="@{/static/common/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/static/common/plugins/jqGrid/css/ui.jqgrid-bootstrap.css}" rel="stylesheet"/>
<link th:href="@{/static/common/plugins/layer/theme/default/layer.css}" rel="stylesheet"/>
<link th:href="@{/static/common/css/select2.css}" rel="stylesheet"/>
<link th:href="@{/static/common/plugins/iCheck/skins/all.css}" rel="stylesheet"/>
<link th:href="@{/static/common/plugins/daterangepicker/css/daterangepicker.css}" rel="stylesheet"/>
<link th:href="@{/static/common/css/style.css}" rel="stylesheet"/>
<script type="text/javascript" th:inline="javascript">
    var _rootUrl  =/*[[@{/}]]*/ +'';
    document.write('<!--[if lt IE 9]>\n' +
        '<script type="text/javascript" src="' + _rootUrl + 'static/common/plugins/bootstrap/js/respond.min.js"><\/script>\n' +
        '<script type="text/javascript" src="' + _rootUrl + 'static/common/plugins/html5shiv/html5shiv.min.js"><\/script>\n'+
        '<![endif]-->\n');
    document.write('<!--[if lt IE 8]>\n' +
        '<script>location.href = '+_rootUrl+' + "static/html/ie.html";<\/script>\n' +
        '<![endif]-->\n');
</script>