<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kuyuner.bg.job.dao.ScheduleTaskDao">

    <!--auto generated Code-->
    <sql id="AllColumns">
		t.id AS "id",
		t.task_name AS "taskName",
		t.task_type AS "taskType",
		t.class_name AS "className",
		t.method_name AS "methodName",
		t.cron AS "cron",
		t.data AS "data",
		t.creater AS "creater",
		t.create_date AS "createDate",
		t.update_date AS "updateDate",
		t.del_flag AS "delFlag"
	</sql>

    <!--auto generated Code-->
	<sql id="AllJoins">
	</sql>


    <!--auto generated Code-->
	<select id="get" resultType="com.kuyuner.bg.job.entity.ScheduleTask">
		SELECT
			<include refid="AllColumns"/>
		FROM T_TASK_SCHEDULE t
            <include refid="AllJoins"/>
		WHERE t.DEL_FLAG = #{delFlag} and t.ID = #{id}
	</select>

	<!--auto generated Code-->
	<select id="findList" resultType="com.kuyuner.bg.job.entity.ScheduleTask">
		SELECT
			<include refid="AllColumns"/>
		FROM T_TASK_SCHEDULE t
		    <include refid="AllJoins"/>
		<where>
			t.DEL_FLAG = #{delFlag}
            <if test="id != null and id != ''">
                AND t.id = #{id}
            </if>
            <if test="taskName != null and taskName != ''">
                AND t.task_name = #{taskName}
            </if>
            <if test="taskType != null and taskType != ''">
                AND t.task_type = #{taskType}
            </if>
            <if test="className != null and className != ''">
                AND t.class_name = #{className}
            </if>
            <if test="methodName != null and methodName != ''">
                AND t.method_name = #{methodName}
            </if>
            <if test="cron != null and cron != ''">
                AND t.cron = #{cron}
            </if>
            <if test="data != null and data != ''">
                AND t.data = #{data}
            </if>
            <if test="creater != null and creater != ''">
                AND t.creater = #{creater}
            </if>
		</where>
		order by t.update_date desc
	</select>

	<!--auto generated Code-->
	<insert id="insert">
		INSERT INTO T_TASK_SCHEDULE
		<trim prefix="(" suffix=")" suffixOverrides=",">
        	<if test="id != null"> id, </if>
        	<if test="taskName != null"> task_name, </if>
        	<if test="taskType != null"> task_type, </if>
        	<if test="className != null"> class_name, </if>
        	<if test="methodName != null"> method_name, </if>
        	<if test="cron != null"> cron, </if>
        	<if test="data != null"> data, </if>
        	creater,
            create_date,
            update_date,
        	<if test="delFlag != null"> del_flag, </if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id}, </if>
            <if test="taskName != null"> #{taskName}, </if>
            <if test="taskType != null"> #{taskType}, </if>
            <if test="className != null"> #{className}, </if>
            <if test="methodName != null"> #{methodName}, </if>
            <if test="cron != null"> #{cron}, </if>
            <if test="data != null"> #{data}, </if>
        	#{creater},
            SYSDATE(),
            SYSDATE(),
            <if test="delFlag != null"> #{delFlag}, </if>
		</trim>
	</insert>

	<!--auto generated Code-->
	<update id="update">
		UPDATE T_TASK_SCHEDULE
		<set>
            <if test="id != null"> id = #{id}, </if>
            <if test="taskName != null"> task_name = #{taskName}, </if>
            <if test="taskType != null"> task_type = #{taskType}, </if>
            <if test="className != null"> class_name = #{className}, </if>
            <if test="methodName != null"> method_name = #{methodName}, </if>
            <if test="cron != null"> cron = #{cron}, </if>
            <if test="data != null"> data = #{data}, </if>
            <if test="creater != null"> creater = #{creater}, </if>
            update_date = SYSDATE(),
            <if test="delFlag != null"> del_flag = #{delFlag}, </if>
		</set>
		WHERE ID = #{id}
	</update>

	<!--auto generated Code-->
    <delete id="deletes">
        DELETE FROM T_TASK_SCHEDULE where id in
		<foreach collection="ids" item="id" separator="," open="(" close=")">
			#{id}
		</foreach>
    </delete>

</mapper>