<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kuyuner.bg.work.dao.MeetingDao">

    <!--auto generated Code-->
    <sql id="AllColumns">
		t.id AS "id",
		t.title AS "title",
		t.BEGIN_TIME AS "beginTime",
		t.end_time AS "endTime",
		t.duration AS "duration",
		t.place AS "place",
		t.trainer AS "trainer.id",
		u.name AS "trainer.name",
		t.join_people AS "joinPeople",
		t.content AS "content",
		t.marks AS "marks",
		t.meeting_type AS "meetingType",
		t.is_send_message AS "isSendMessage",
		t.type AS "type",
		t.creater AS "creater",
		t.create_date AS "createDate",
		t.update_date AS "updateDate",
		t.del_flag AS "delFlag"
	</sql>

    <!--auto generated Code-->
	<sql id="AllJoins">
        inner join T_PT_USER u on u.id = t.trainer
	</sql>


    <!--auto generated Code-->
	<select id="get" resultType="com.kuyuner.bg.work.entity.Meeting">
		SELECT
			<include refid="AllColumns"/>
		FROM T_MEETING t
            <include refid="AllJoins"/>
		WHERE t.DEL_FLAG = #{delFlag} and t.ID = #{id}
	</select>

	<!--auto generated Code-->
	<select id="findList" resultType="com.kuyuner.bg.work.entity.Meeting">
		SELECT
			<include refid="AllColumns"/>
		FROM T_MEETING t
		    <include refid="AllJoins"/>
		<where>
			t.DEL_FLAG = #{delFlag}
            <if test="id != null and id != ''">
                AND t.id = #{id}
            </if>
            <if test="title != null and title != ''">
                AND t.title LIKE concat('%',#{title},'%')
            </if>
            <if test="duration != null and duration != ''">
                AND t.duration = #{duration}
            </if>
            <if test="place != null and place != ''">
                AND t.place = #{place}
            </if>
            <if test="trainer != null and trainer.name != null and trainer.name != ''">
                AND u.name LIKE concat('%',#{trainer.name},'%')
            </if>
            <if test="joinPeople != null and joinPeople != ''">
                AND t.join_people = #{joinPeople}
            </if>
            <if test="content != null and content != ''">
                AND t.content = #{content}
            </if>
            <if test="marks != null and marks != ''">
                AND t.marks = #{marks}
            </if>
            <if test="meetingType != null and meetingType != ''">
                AND t.meeting_type = #{meetingType}
            </if>
            <if test="isSendMessage != null and isSendMessage != ''">
                AND t.is_send_message = #{isSendMessage}
            </if>
            <if test="type != null and type != ''">
                AND t.type = #{type}
            </if>
            <if test="creater != null and creater != ''">
                AND t.creater = #{creater}
            </if>
		</where>
		order by t.update_date desc
	</select>

    <select id="findJoinPeoples" resultType="com.kuyuner.core.sys.entity.User">
        select
        t.name as "name",
        t.sex as "sex",
        dept.name as "dept.name"
        from T_PT_USER t
        left join T_PT_DEPT dept on dept.id = t.DEPT_ID
        where t.id in
        <foreach collection="joinPeoples" item="userId" open="(" close=")" separator=",">
            #{userId}
        </foreach>
    </select>

    <!--auto generated Code-->
	<insert id="insert">
		INSERT INTO T_MEETING
		<trim prefix="(" suffix=")" suffixOverrides=",">
        	<if test="id != null"> id, </if>
        	<if test="title != null"> title, </if>
        	<if test="beginTime != null"> BEGIN_TIME, </if>
        	<if test="endTime != null"> end_time, </if>
        	<if test="duration != null"> duration, </if>
        	<if test="place != null"> place, </if>
        	<if test="trainer != null and trainer.id != null"> trainer, </if>
        	<if test="joinPeople != null"> join_people, </if>
        	<if test="content != null"> content, </if>
        	<if test="marks != null"> marks, </if>
        	<if test="meetingType != null"> meeting_type, </if>
        	<if test="isSendMessage != null"> is_send_message, </if>
        	<if test="type != null"> type, </if>
        	creater,
            create_date,
            update_date,
        	<if test="delFlag != null"> del_flag, </if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id}, </if>
            <if test="title != null"> #{title}, </if>
            <if test="beginTime != null"> #{beginTime}, </if>
            <if test="endTime != null"> #{endTime}, </if>
            <if test="duration != null"> #{duration}, </if>
            <if test="place != null"> #{place}, </if>
            <if test="trainer != null and trainer.id != null"> #{trainer.id}, </if>
            <if test="joinPeople != null"> #{joinPeople}, </if>
            <if test="content != null"> #{content}, </if>
            <if test="marks != null"> #{marks}, </if>
            <if test="meetingType != null"> #{meetingType}, </if>
            <if test="isSendMessage != null"> #{isSendMessage}, </if>
            <if test="type != null"> #{type}, </if>
        	#{creater},
            SYSDATE(),
            SYSDATE(),
            <if test="delFlag != null"> #{delFlag}, </if>
		</trim>
	</insert>

	<!--auto generated Code-->
	<update id="update">
		UPDATE T_MEETING
		<set>
            <if test="id != null"> id = #{id}, </if>
            <if test="title != null"> title = #{title}, </if>
            <if test="beginTime != null"> BEGIN_TIME = #{beginTime}, </if>
            <if test="endTime != null"> end_time = #{endTime}, </if>
            <if test="duration != null"> duration = #{duration}, </if>
            <if test="place != null"> place = #{place}, </if>
            <if test="trainer != null and trainer.id != null"> trainer = #{trainer.id}, </if>
            <if test="joinPeople != null"> join_people = #{joinPeople}, </if>
            <if test="content != null"> content = #{content}, </if>
            <if test="marks != null"> marks = #{marks}, </if>
            <if test="meetingType != null"> meeting_type = #{meetingType}, </if>
            <if test="isSendMessage != null"> is_send_message = #{isSendMessage}, </if>
            <if test="type != null"> type = #{type}, </if>
            <if test="creater != null"> creater = #{creater}, </if>
            update_date = SYSDATE(),
		</set>
		WHERE ID = #{id}
	</update>

	<!--auto generated Code-->
    <delete id="deletes">
        DELETE FROM T_MEETING where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

</mapper>