<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="common/head" />
    <link rel="stylesheet" th:href="@{/static/css/approval/style.css}">
    <title>发文模板表单</title>
</head>
<body>
<div class="wrapper wrapper-content">
    <div class="container">
        <form id="form" class="form-horizontal edit-form">
            <input type="hidden" id="id" name="id" th:value="${fileTemplete.id}" />
            <div class="box-body">
                <div class="form-unit">基本信息</div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">
                                <span class="red" >*</span>文件名称：
                            </label>
                            <div class="col-sm-8">
                                <input type="text" id="fileName" name="fileName" th:value="${fileTemplete.fileName}" class="form-control" required='required' maxlength='200' />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4">
                                <span class="red" >*</span>
                                发文文件：
                            </label>
                            <div class="col-sm-8 select-files">

                                <a class="btn btn-default" id="select-file-btn" style="position: relative;overflow: hidden;"
                                   th:styleappend="'display:'+${fileTemplete.id == null?'inline-block':'none'}">
                                    选择文件
                                    <input type="file" name="files" class="form-control select-file" required="required" />
                                </a>

                                <p class="file-block" id="upload-file-block">
                                    <span th:if="${fileTemplete.id != null}" class="select-filename" th:attr="data-clz=${fileTemplete.id}" th:classappend="${fileTemplete.id}">
                                        <a th:href="@{/} + ${adminPath} + ${'/releasedocument/filetemplete/download/' + fileTemplete.id}" target="_blank"
                                           th:text="${fileTemplete.fileName}" th:title="${fileTemplete.fileName}"></a>
                                        <button type="button" class="close file-delete"><span>×</span></button>
                                    </span>
                                </p>
                                <p class="help-block">支持扩展名：.doc .docx .pdf</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> 保 存</button>&nbsp;
                        <button type="button" class="btn btn-sm btn-default" id="btnCancel"><i class="fa fa-reply-all"></i> 关 闭</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<script th:replace="common/footer"></script>
<script th:src="@{/static/js/recanddis/fileTempleteForm.js}" type="text/javascript"></script>
</html>