<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kuyuner.bg.email.dao.EmailReceiveDao">

    <!--auto generated Code-->
    <sql id="AllColumns">
		t.id AS "id",
		t.title AS "title",
		t.content AS "content",
		t.sender_name AS "senderName",
		t.sender_acount AS "senderAccount",
		t.receiver_name AS "receiverName",
		t.receiver_account AS "receiverAccount",
		t.copy_sender_name AS "copySenderName",
		t.copy_sender_account AS "copySenderAccount",
		t.contain_file AS "containFile",
		t.star AS "star",
		t.type AS "type",
		t.level AS "level",
		t.IS_READ AS "read",
		t.IS_SECRET AS "isSecret",
		t.creater AS "creater",
		t.create_date AS "createDate",
		t.update_date AS "updateDate",
		t.del_flag AS "delFlag"
	</sql>

    <!--auto generated Code-->
	<sql id="AllJoins">
	</sql>


    <!--auto generated Code-->
	<select id="get" resultType="com.kuyuner.bg.email.entity.EmailReceive">
		SELECT
			<include refid="AllColumns"/>
		FROM T_EMAIL_RECEIVE t
            <include refid="AllJoins"/>
		WHERE t.DEL_FLAG = #{delFlag} and t.ID = #{id}
	</select>

	<!--auto generated Code-->
	<select id="findList" resultType="com.kuyuner.bg.email.entity.EmailReceive">
		SELECT
            t.id AS "id",
            t.title AS "title",
            t.sender_name AS "senderName",
            t.sender_acount AS "senderAccount",
            t.receiver_name AS "receiverName",
            t.receiver_account AS "receiverAccount",
            t.copy_sender_name AS "copySenderName",
            t.copy_sender_account AS "copySenderAccount",
            t.contain_file AS "containFile",
            t.star AS "star",
            t.type AS "type",
            t.level AS "level",
            t.IS_READ AS "read",
            t.IS_SECRET AS "isSecret",
            t.creater AS "creater",
            t.create_date AS "createDate",
            t.update_date AS "updateDate",
            t.del_flag AS "delFlag"
		FROM T_EMAIL_RECEIVE t
		    <include refid="AllJoins"/>
		<where>
			t.DEL_FLAG = #{delFlag}
            <if test="id != null and id != ''">
                AND t.id = #{id}
            </if>
            <if test="title != null and title != ''">
                AND t.title LIKE concat('%',#{title},'%')
            </if>
            <if test="content != null and content != ''">
                AND t.content = #{content}
            </if>
            <if test="senderName != null and senderName != ''">
                AND t.sender_name LIKE concat('%',#{senderName},'%')
            </if>
            <if test="senderAccount != null and senderAccount != ''">
                AND t.sender_acount = #{senderAccount}
            </if>
            <if test="receiverName != null and receiverName != ''">
                AND t.receiver_name LIKE concat('%',#{receiverName},'%')
            </if>
            <if test="receiverAccount != null and receiverAccount != ''">
                AND t.receiver_account LIKE concat('%',#{receiverAccount},'%')
            </if>
            <if test="copySenderName != null and copySenderName != ''">
                AND t.copy_sender_name LIKE concat('%',#{copySenderName},'%')
            </if>
            <if test="copySenderAccount != null and copySenderAccount != ''">
                AND t.copy_sender_account LIKE concat('%',#{copySenderAccount},'%')
            </if>
            <if test="containFile != null and containFile != ''">
                AND t.contain_file = #{containFile}
            </if>
            <if test="star != null and star != ''">
                AND t.star = #{star}
            </if>
            <if test="type != null and type != ''">
                AND t.type = #{type}
            </if>
            <if test="level != null and level != ''">
                AND t.level = #{level}
            </if>
            <if test="creater != null and creater != ''">
                AND t.creater = #{creater}
            </if>
		</where>
		order by t.create_date desc
	</select>

    <select id="getEmailContent" resultType="java.lang.String">
        select content from T_EMAIL_RECEIVE where id = #{id}
    </select>

    <select id="getEmail" resultType="com.kuyuner.bg.email.entity.EmailReceive">
        SELECT
        <include refid="AllColumns"/>
        FROM T_EMAIL_RECEIVE t
        <include refid="AllJoins"/>
        WHERE t.ID = #{id}
    </select>

    <select id="findSelectedUsers" resultType="com.kuyuner.bg.email.entity.EmailReceive">
        select
            t.sender_name AS "senderName",
            t.sender_acount AS "senderAccount",
            t.receiver_name AS "receiverName",
            t.receiver_account AS "receiverAccount",
            t.copy_sender_name AS "copySenderName",
            t.copy_sender_account AS "copySenderAccount"
        from T_EMAIL_RECEIVE t where t.id = #{emailId}
    </select>

    <select id="getLatestEmail" resultType="java.util.Map">
        select
            t.id AS "id",
            t.title AS "title",
            t.sender_name AS "senderName",
            t.sender_acount AS "senderAccount"
        from T_EMAIL_RECEIVE t
        <where>
            t.creater = #{userId} and (t.IS_READ <![CDATA[ <> ]]> '1' or t.IS_READ is null)
        </where>
        ORDER BY t.CREATE_DATE desc
        limit 1
    </select>

    <!--auto generated Code-->
	<insert id="insert">
		INSERT INTO T_EMAIL_RECEIVE
		<trim prefix="(" suffix=")" suffixOverrides=",">
        	<if test="id != null"> id, </if>
        	<if test="title != null"> title, </if>
        	<if test="content != null"> content, </if>
        	<if test="senderName != null"> sender_name, </if>
        	<if test="senderAccount != null"> sender_acount, </if>
        	<if test="receiverName != null"> receiver_name, </if>
        	<if test="receiverAccount != null"> receiver_account, </if>
        	<if test="copySenderName != null"> copy_sender_name, </if>
        	<if test="copySenderAccount != null"> copy_sender_account, </if>
        	<if test="containFile != null"> contain_file, </if>
        	<if test="star != null"> star, </if>
        	<if test="type != null"> type, </if>
        	<if test="level != null"> level, </if>
            <if test="read != null"> IS_READ, </if>
        	creater,
            create_date,
            update_date,
        	<if test="delFlag != null"> del_flag, </if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id}, </if>
            <if test="title != null"> #{title}, </if>
            <if test="content != null"> #{content}, </if>
            <if test="senderName != null"> #{senderName}, </if>
            <if test="senderAccount != null"> #{senderAccount}, </if>
            <if test="receiverName != null"> #{receiverName}, </if>
            <if test="receiverAccount != null"> #{receiverAccount}, </if>
            <if test="copySenderName != null"> #{copySenderName}, </if>
            <if test="copySenderAccount != null"> #{copySenderAccount}, </if>
            <if test="containFile != null"> #{containFile}, </if>
            <if test="star != null"> #{star}, </if>
            <if test="type != null"> #{type}, </if>
            <if test="level != null"> #{level}, </if>
            <if test="read != null"> #{read}, </if>
        	#{creater},
            SYSDATE(),
            SYSDATE(),
            <if test="delFlag != null"> #{delFlag}, </if>
		</trim>
	</insert>

	<!--auto generated Code-->
	<update id="update">
		UPDATE T_EMAIL_RECEIVE
		<set>
            <if test="id != null"> id = #{id}, </if>
            <if test="title != null"> title = #{title}, </if>
            <if test="content != null"> content = #{content}, </if>
            <if test="senderName != null"> sender_name = #{senderName}, </if>
            <if test="senderAccount != null"> sender_acount = #{senderAccount}, </if>
            <if test="receiverName != null"> receiver_name = #{receiverName}, </if>
            <if test="receiverAccount != null"> receiver_account = #{receiverAccount}, </if>
            <if test="copySenderName != null"> copy_sender_name = #{copySenderName}, </if>
            <if test="copySenderAccount != null"> copy_sender_account = #{copySenderAccount}, </if>
            <if test="containFile != null"> contain_file = #{containFile}, </if>
            <if test="star != null"> star = #{star}, </if>
            <if test="type != null"> type = #{type}, </if>
            <if test="level != null"> level = #{level}, </if>
            <if test="read != null"> IS_READ = #{read}, </if>
            <if test="creater != null"> creater = #{creater}, </if>
            update_date = SYSDATE()
		</set>
		WHERE ID = #{id}
	</update>

    <delete id="deletes">
        delete from T_EMAIL_RECEIVE where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateDeletes">
        update T_EMAIL_RECEIVE set DEL_FLAG = '0' where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <update id="recoverys">
        update T_EMAIL_RECEIVE set DEL_FLAG = '1' where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <select id="findData" parameterType="java.lang.String" resultType="com.kuyuner.bg.email.entity.EmailReceive">
        SELECT
            t.id AS "id",
            t.title AS "title",
            t.sender_name AS "senderName",
            t.sender_acount AS "senderAccount",
            t.receiver_name AS "receiverName",
            t.receiver_account AS "receiverAccount",
            t.copy_sender_name AS "copySenderName",
            t.copy_sender_account AS "copySenderAccount",
            t.contain_file AS "containFile",
            t.star AS "star",
            t.type AS "type",
            t.LEVEL AS "level",
            t.IS_READ AS "read",
            t.IS_SECRET AS "isSecret",
            t.creater AS "creater",
            t.create_date AS "createDate",
            t.update_date AS "updateDate",
            t.del_flag AS "delFlag"
        FROM
            T_EMAIL_RECEIVE t
        WHERE
            t.DEL_FLAG = '1'
            AND t.IS_READ='1'
            AND t.creater =#{userId}
        ORDER BY
        t.create_date DESC
    </select>

</mapper>