<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kuyuner.bg.approval.dao.DriverDao">

    <!--auto generated Code-->
    <sql id="AllColumns">
		t.id AS "id",
		t.name as "name",
		t.sex as "sex",
		t.phone as "phone",
		t.driving_year AS "drivingYear",
		t.creater AS "creater",
		t.create_date AS "createDate",
		t.update_date AS "updateDate",
		t.del_flag AS "delFlag"
	</sql>

    <!--auto generated Code-->
	<select id="get" resultType="com.kuyuner.bg.approval.entity.Driver">
		SELECT
			<include refid="AllColumns"/>
		FROM T_DRIVER t

		WHERE t.DEL_FLAG = #{delFlag} and t.ID = #{id}
	</select>

	<!--auto generated Code-->
	<select id="findList" resultType="com.kuyuner.bg.approval.entity.Driver">
		SELECT
			<include refid="AllColumns"/>
		FROM T_DRIVER t
		<where>
			t.DEL_FLAG = #{delFlag}
            <if test="id != null and id != ''">
                AND t.id = #{id}
            </if>
			<if test="name != null and name != ''">
				AND t.name LIKE concat('%',#{name},'%')
			</if>
			<if test="phone != null and phone != ''">
				AND t.phone LIKE concat('%',#{phone},'%')
			</if>
            <if test="drivingYear != null and drivingYear != ''">
                AND t.driving_year = #{drivingYear}
            </if>
            <if test="creater != null and creater != ''">
                AND t.creater = #{creater}
            </if>
		</where>
		order by t.update_date desc
	</select>

	<select id="checkName" resultType="java.lang.Integer">
		SELECT count(1) FROM T_DRIVER t
		<where>
			t.DEL_FLAG = 1
			<if test="id != null and id != ''">
				AND t.id <![CDATA[ <> ]]> #{id}
			</if>
			<if test="name != null and name != ''">
				AND t.name = #{name}
			</if>
		</where>
	</select>

	<select id="checkPhone" resultType="java.lang.Integer">
		SELECT count(1) FROM T_DRIVER t
		<where>
			t.DEL_FLAG = 1
			<if test="id != null and id != ''">
				AND t.id <![CDATA[ <> ]]> #{id}
			</if>
			<if test="phone != null and phone != ''">
				AND t.phone = #{phone}
			</if>
		</where>
	</select>

	<!--auto generated Code-->
	<insert id="insert">
		INSERT INTO T_DRIVER
		<trim prefix="(" suffix=")" suffixOverrides=",">
        	<if test="id != null"> id, </if>
        	<if test="name != null"> name, </if>
			<if test="phone != null"> phone, </if>
			<if test="sex != null"> sex, </if>
        	<if test="drivingYear != null"> driving_year, </if>
        	creater,
            create_date,
            update_date,
        	<if test="delFlag != null"> del_flag, </if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id}, </if>
            <if test="name != null"> #{name}, </if>
			<if test="phone != null"> #{phone}, </if>
			<if test="sex != null"> #{sex}, </if>
            <if test="drivingYear != null"> #{drivingYear}, </if>
        	#{creater},
            SYSDATE(),
            SYSDATE(),
            <if test="delFlag != null"> #{delFlag}, </if>
		</trim>
	</insert>

	<!--auto generated Code-->
	<update id="update">
		UPDATE T_DRIVER
		<set>
            <if test="id != null"> id = #{id}, </if>
            <if test="name != null"> name = #{name}, </if>
			<if test="phone != null"> phone = #{phone}, </if>
			<if test="sex != null"> sex = #{sex}, </if>
            <if test="drivingYear != null"> driving_year = #{drivingYear}, </if>
            <if test="creater != null"> creater = #{creater}, </if>
            update_date = SYSDATE()
		</set>
		WHERE ID = #{id}
	</update>

	<!--auto generated Code-->
    <delete id="deletes">
        UPDATE T_DRIVER SET DEL_FLAG = 0 where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

</mapper>