<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kuyuner.bg.approval.dao.DriverDao">

    <!--auto generated Code-->
    <sql id="AllColumns">
		t.id AS "id",
		t.user_id AS "user.id",
		u.name as "user.name",
		u.sex as "user.sex",
		u.phone as "user.phone",
		t.driving_year AS "drivingYear",
		t.creater AS "creater",
		t.create_date AS "createDate",
		t.update_date AS "updateDate",
		t.del_flag AS "delFlag"
	</sql>

    <!--auto generated Code-->
	<sql id="AllJoins">
		inner join T_PT_USER u on u.id = t.user_id
	</sql>


    <!--auto generated Code-->
	<select id="get" resultType="com.kuyuner.bg.approval.entity.Driver">
		SELECT
			<include refid="AllColumns"/>
		FROM T_DRIVER t
            <include refid="AllJoins"/>
		WHERE t.DEL_FLAG = #{delFlag} and t.ID = #{id}
	</select>

	<!--auto generated Code-->
	<select id="findList" resultType="com.kuyuner.bg.approval.entity.Driver">
		SELECT
			<include refid="AllColumns"/>
		FROM T_DRIVER t
		    <include refid="AllJoins"/>
		<where>
			t.DEL_FLAG = #{delFlag}
            <if test="id != null and id != ''">
                AND t.id = #{id}
            </if>
            <if test="user != null">
				<if test="user.name != null and user.name != ''">
					AND u.name LIKE concat('%',#{user.name},'%')
				</if>
				<if test="user.phone != null and user.phone != ''">
					AND u.phone LIKE concat('%',#{user.phone},'%')
				</if>
            </if>
            <if test="drivingYear != null and drivingYear != ''">
                AND t.driving_year = #{drivingYear}
            </if>
            <if test="creater != null and creater != ''">
                AND t.creater = #{creater}
            </if>
		</where>
		order by t.update_date desc
	</select>

	<!--auto generated Code-->
	<insert id="insert">
		INSERT INTO T_DRIVER
		<trim prefix="(" suffix=")" suffixOverrides=",">
        	<if test="id != null"> id, </if>
        	<if test="user.id != null"> user_id, </if>
        	<if test="drivingYear != null"> driving_year, </if>
        	creater,
            create_date,
            update_date,
        	<if test="delFlag != null"> del_flag, </if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id}, </if>
            <if test="user.id != null"> #{user.id}, </if>
            <if test="drivingYear != null"> #{drivingYear}, </if>
        	#{creater},
            SYSDATE(),
            SYSDATE(),
            <if test="delFlag != null"> #{delFlag}, </if>
		</trim>
	</insert>

	<!--auto generated Code-->
	<update id="update">
		UPDATE T_DRIVER
		<set>
            <if test="id != null"> id = #{id}, </if>
            <if test="user.id != null"> user_id = #{user.id}, </if>
            <if test="drivingYear != null"> driving_year = #{drivingYear}, </if>
            <if test="creater != null"> creater = #{creater}, </if>
            update_date = SYSDATE()
		</set>
		WHERE ID = #{id}
	</update>

	<!--auto generated Code-->
    <delete id="deletes">
        DELETE FROM T_DRIVER where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

</mapper>