<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kuyuner.bg.approval.dao.PurchaseGoodsDao">

    <!--auto generated Code-->
    <sql id="AllColumns">
		t.id AS "id",
		t.purchase_id AS "purchaseId",
		t.name AS "name",
		t.model AS "model",
		t.price AS "price",
		t.num AS "num",
		t.unit AS "unit",
        t.TOTAL_PRICE as "totalPrice",
		t.creater AS "creater",
		t.create_date AS "createDate",
		t.update_date AS "updateDate",
		t.del_flag AS "delFlag"
	</sql>

    <!--auto generated Code-->
	<sql id="AllJoins">
	</sql>


    <!--auto generated Code-->
	<select id="get" resultType="com.kuyuner.bg.approval.entity.PurchaseGoods">
		SELECT
			<include refid="AllColumns"/>
		FROM T_AP_PURCHASE_GOODS t
            <include refid="AllJoins"/>
		WHERE t.DEL_FLAG = #{delFlag} and t.ID = #{id}
	</select>

	<!--auto generated Code-->
	<select id="findList" resultType="com.kuyuner.bg.approval.entity.PurchaseGoods">
		SELECT
			<include refid="AllColumns"/>
		FROM T_AP_PURCHASE_GOODS t
		    <include refid="AllJoins"/>
		<where>
			t.DEL_FLAG = #{delFlag}
            <if test="id != null and id != ''">
                AND t.id = #{id}
            </if>
            <if test="purchaseId != null and purchaseId != ''">
                AND t.purchase_id = #{purchaseId}
            </if>
		</where>
	</select>

    <select id="findPurchaseGoodsLogList" resultType="com.kuyuner.bg.approval.entity.PurchaseGoods">
        SELECT
        <include refid="AllColumns"/>
        FROM T_AP_PURCHASE_GOODS_LOG t
        <include refid="AllJoins"/>
        <where>
            t.DEL_FLAG = #{delFlag}
            <if test="id != null and id != ''">
                AND t.id = #{id}
            </if>
            <if test="purchaseId != null and purchaseId != ''">
                AND t.purchase_id = #{purchaseId}
            </if>
        </where>
        order by t.update_date desc
    </select>

    <select id="findGoodsLog" resultType="com.kuyuner.bg.approval.entity.PurchaseGoods">
        SELECT
        <include refid="AllColumns"/>
        FROM T_AP_PURCHASE_GOODS_LOG t
        <include refid="AllJoins"/>
        <where>
            t.purchase_id = #{purchaseId}
        </where>
    </select>

    <!--auto generated Code-->
	<insert id="insert">
		INSERT INTO T_AP_PURCHASE_GOODS
		<trim prefix="(" suffix=")" suffixOverrides=",">
        	<if test="id != null"> id, </if>
        	<if test="purchaseId != null"> purchase_id, </if>
        	<if test="name != null"> name, </if>
        	<if test="model != null"> model, </if>
        	<if test="price != null"> price, </if>
        	<if test="num != null"> num, </if>
        	<if test="unit != null"> unit, </if>
            <if test="totalPrice != null"> TOTAL_PRICE, </if>
        	creater,
            create_date,
            update_date,
        	<if test="delFlag != null"> del_flag, </if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id}, </if>
            <if test="purchaseId != null"> #{purchaseId}, </if>
            <if test="name != null"> #{name}, </if>
            <if test="model != null"> #{model}, </if>
            <if test="price != null"> #{price}, </if>
            <if test="num != null"> #{num}, </if>
            <if test="unit != null"> #{unit}, </if>
            <if test="totalPrice != null"> #{totalPrice}, </if>
        	#{creater},
            SYSDATE(),
            SYSDATE(),
            <if test="delFlag != null"> #{delFlag}, </if>
		</trim>
	</insert>

    <insert id="insertLogs">
        INSERT INTO T_AP_PURCHASE_GOODS_LOG (ID,PURCHASE_ID,NAME,MODEL,PRICE,NUM,UNIT,TOTAL_PRICE,CREATE_DATE,UPDATE_DATE,DEL_FLAG)
        values
        <foreach collection="purchaseGoods" separator="," item="goods" >
            (REPLACE(UUID(), '-', ''),#{goods.purchaseId},#{goods.name},#{goods.model},#{goods.price},#{goods.num},#{goods.unit},
                #{goods.totalPrice},SYSDATE(),SYSDATE(),'1')
        </foreach>
    </insert>

    <insert id="inserts">
        INSERT INTO T_AP_PURCHASE_GOODS (ID,PURCHASE_ID,NAME,MODEL,PRICE,NUM,UNIT,TOTAL_PRICE,CREATE_DATE,UPDATE_DATE,DEL_FLAG)
        values
        <foreach collection="purchaseGoods" separator="," item="goods" >
            (REPLACE(UUID(), '-', ''),#{goods.purchaseId},#{goods.name},#{goods.model},#{goods.price},#{goods.num},#{goods.unit},
            #{goods.totalPrice},SYSDATE(),SYSDATE(),'1')
        </foreach>
    </insert>

    <!--auto generated Code-->
	<update id="update">
		UPDATE T_AP_PURCHASE_GOODS
		<set>
            <if test="id != null"> id = #{id}, </if>
            <if test="purchaseId != null"> purchase_id = #{purchaseId}, </if>
            <if test="name != null"> name = #{name}, </if>
            <if test="model != null"> model = #{model}, </if>
            <if test="price != null"> price = #{price}, </if>
            <if test="num != null"> num = #{num}, </if>
            <if test="unit != null"> unit = #{unit}, </if>
            <if test="totalPrice != null"> TOTAL_PRICE = #{totalPrice}, </if>
            <if test="creater != null"> creater = #{creater}, </if>
            update_date = SYSDATE(),
		</set>
		WHERE ID = #{id}
	</update>

	<!--auto generated Code-->
    <delete id="deletes">
        DELETE FROM T_AP_PURCHASE_GOODS where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteGoods">
        DELETE FROM T_AP_PURCHASE_GOODS where PURCHASE_ID = #{purchaseId}
    </delete>

</mapper>