<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kuyuner.bg.approval.dao.PurchaseDao">

    <!--auto generated Code-->
    <sql id="AllColumns">
		t.id AS "id",
		t.name AS "name",
		t.reason AS "reason",
		t.task_name AS "taskName",
		t.approval_result AS "approvalResult",
		t.SENDER_ID as "senderId",
		d.name as "senderDeptName",
		u.name as "senderName",
		t.TOTAL_PRICE as "totalPrice",
		t.creater AS "creater",
		t.create_date AS "createDate",
		t.update_date AS "updateDate",
		t.del_flag AS "delFlag"
	</sql>

    <!--auto generated Code-->
	<sql id="AllJoins">
		inner join T_PT_USER u on u.id = t.SENDER_ID
		left join T_PT_DEPT d on d.id = u.dept_id
	</sql>


    <!--auto generated Code-->
	<select id="get" resultType="com.kuyuner.bg.approval.entity.Purchase">
		SELECT
			<include refid="AllColumns"/>
		FROM T_AP_PURCHASE t
            <include refid="AllJoins"/>
		WHERE t.DEL_FLAG = #{delFlag} and t.ID = #{id}
	</select>

	<!--auto generated Code-->
	<select id="findList" resultType="com.kuyuner.bg.approval.entity.Purchase">
		SELECT
			<include refid="AllColumns"/>
		FROM T_AP_PURCHASE t
		    <include refid="AllJoins"/>
		<where>
			t.DEL_FLAG = #{delFlag}
            <if test="name != null and name != ''">
                AND t.name LIKE concat('%',#{name},'%')
            </if>
			<if test="senderName != null and senderName != ''">
				AND u.name LIKE concat('%',#{senderName},'%')
			</if>
            <if test="reason != null and reason != ''">
                AND t.reason = #{reason}
            </if>
            <if test="taskName != null and taskName != ''">
                AND t.task_name = #{taskName}
            </if>
            <if test="approvalResult != null and approvalResult != ''">
                AND t.approval_result = #{approvalResult}
            </if>
            <if test="creater != null and creater != ''">
                AND t.creater = #{creater}
            </if>
			<if test="beginSendTime != null and endSendTime != null">
				AND t.CREATE_DATE between #{beginSendTime} and #{endSendTime}
			</if>
		</where>
		order by t.update_date desc
	</select>

    <select id="getLog" resultType="com.kuyuner.bg.approval.entity.Purchase">
		select
			t.id AS "id",
			t.name AS "name",
			t.reason AS "reason",
			t.approval_result AS "approvalResult",
			t.SENDER_ID as "senderId",
			d.name as "senderDeptName",
			u.name as "senderName",
			t.TOTAL_PRICE as "totalPrice",
			t.creater AS "creater",
			t.create_date AS "createDate",
			t.update_date AS "updateDate",
			t.del_flag AS "delFlag"
		from T_AP_PURCHASE_LOG t
		 inner join T_PT_USER u on u.id = t.SENDER_ID
		 left join T_PT_DEPT d on d.id = u.dept_id
		WHERE t.DEL_FLAG = #{delFlag} and t.ID = #{id}
	</select>
	<select id="findPendingList" resultType="com.kuyuner.bg.approval.bean.PurchasePendingListView">
		select
			t.id as "id",
			r.ID as "taskId",
			r.PRO_DEF_NAME as "processName",
			r.NAME as "taskName",
			u.name as "sender",
			t.name as "name",
			t.CREATE_DATE as "time"
		from V_WF_RU_TASK r
		inner join T_AP_PURCHASE t on t.id = r.business_id
		inner join T_PT_USER u on u.id = t.sender_id
		<where>
			(r.ASSIGNEE = #{userId} or (r.ASSIGNEE is null and r.USER_ID = #{userId}))
			<if test="purchase.name != null and purchase.name != ''">
				AND t.name = #{purchase.name}
			</if>
			<if test="purchase.senderName != null and purchase.senderName != ''">
				AND u.name LIKE concat('%',#{purchase.senderName},'%')
			</if>
		</where>
		order by t.CREATE_DATE desc
	</select>

	<select id="findHistoricList" resultType="com.kuyuner.bg.approval.bean.PurchaseHistoricListView">
		select
			t.id as "id",
			h.PROC_NAME as "processName",
			h.PROC_INST_ID as "processInstanceId",
			t.task_name as "taskName",
			u.name as "sender",
			t.name as "name",
			t.CREATE_DATE as "time"
		from V_WF_HI_TASK h
		inner join T_AP_PURCHASE t on t.id = h.business_id
		inner join T_PT_USER u on u.id = t.sender_id
		<where>
			(h.ASSIGNEE = #{userId} and h.START_USER_ID <![CDATA[ <> ]]> #{userId})
			<if test="purchase.name != null and purchase.name != ''">
				AND t.name LIKE concat('%',#{purchase.name},'%')
			</if>
			<if test="purchase.senderName != null and purchase.senderName != ''">
				AND u.name LIKE concat('%',#{purchase.senderName},'%')
			</if>
		</where>
		order by t.CREATE_DATE desc
	</select>

	<select id="findSendList" resultType="com.kuyuner.bg.approval.bean.PurchaseHistoricListView">
		select DISTINCT
			t.id as "id",
			h.PROC_NAME as "processName",
			h.PROC_INST_ID as "processInstanceId",
			t.task_name as "taskName",
			u.name as "sender",
			t.name as "name",
			t.CREATE_DATE as "time"
		from V_WF_HI_TASK h
		inner join T_AP_PURCHASE t on t.id = h.business_id
		inner join T_PT_USER u on u.id = t.sender_id
		<where>
			h.START_USER_ID = #{userId}
			<if test="purchase.name != null and purchase.name != ''">
				AND t.name LIKE concat('%',#{purchase.name},'%')
			</if>
			<if test="purchase.senderName != null and purchase.senderName != ''">
				AND u.name LIKE concat('%',#{purchase.senderName},'%')
			</if>
		</where>
		order by t.CREATE_DATE desc
	</select>

	<select id="getApprovalResult" resultType="java.lang.String">
		SELECT APPROVAL_RESULT FROM T_AP_PURCHASE WHERE ID = #{id}
	</select>

	<!--auto generated Code-->
	<insert id="insert">
		INSERT INTO T_AP_PURCHASE
		<trim prefix="(" suffix=")" suffixOverrides=",">
        	<if test="id != null"> id, </if>
			<if test="name != null"> name, </if>
        	<if test="reason != null"> reason, </if>
        	<if test="taskName != null"> task_name, </if>
        	<if test="approvalResult != null"> approval_result, </if>
			<if test="senderId != null"> SENDER_ID, </if>
			<if test="totalPrice != null"> TOTAL_PRICE, </if>
        	creater,
            create_date,
            update_date,
        	<if test="delFlag != null"> del_flag, </if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id}, </if>
			<if test="name != null"> #{name}, </if>
            <if test="reason != null"> #{reason}, </if>
            <if test="taskName != null"> #{taskName}, </if>
            <if test="approvalResult != null"> #{approvalResult}, </if>
			<if test="senderId != null"> #{senderId}, </if>
			<if test="totalPrice != null"> #{totalPrice}, </if>
        	#{creater},
            SYSDATE(),
            SYSDATE(),
            <if test="delFlag != null"> #{delFlag}, </if>
		</trim>
	</insert>

	<insert id="insertLog">
		INSERT INTO T_AP_PURCHASE_LOG
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null"> id, </if>
			<if test="name != null"> name, </if>
			<if test="reason != null"> reason, </if>
			<if test="approvalResult != null"> approval_result, </if>
			<if test="senderId != null"> SENDER_ID, </if>
			<if test="totalPrice != null"> TOTAL_PRICE, </if>
			creater,
			create_date,
			update_date,
			<if test="delFlag != null"> del_flag, </if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null"> #{id}, </if>
			<if test="name != null"> #{name}, </if>
			<if test="reason != null"> #{reason}, </if>
			<if test="approvalResult != null"> #{approvalResult}, </if>
			<if test="senderId != null"> #{senderId}, </if>
			<if test="totalPrice != null"> #{totalPrice}, </if>
			#{creater},
			SYSDATE(),
			SYSDATE(),
			<if test="delFlag != null"> #{delFlag}, </if>
		</trim>
	</insert>

	<!--auto generated Code-->
	<update id="update">
		UPDATE T_AP_PURCHASE
		<set>
            <if test="id != null"> id = #{id}, </if>
			<if test="name != null"> name = #{name}, </if>
            <if test="reason != null"> reason = #{reason}, </if>
            <if test="taskName != null"> task_name = #{taskName}, </if>
			<if test="totalPrice != null"> TOTAL_PRICE = #{totalPrice}, </if>
			<if test="taskName != null"> task_name = #{taskName}, </if>
            <if test="approvalResult != null"> approval_result = #{approvalResult}, </if>
            <if test="creater != null"> creater = #{creater}, </if>
            update_date = SYSDATE(),
		</set>
		WHERE ID = #{id}
	</update>

	<!--auto generated Code-->
    <delete id="deletes">
        DELETE FROM T_AP_PURCHASE where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

	<select id="findPendingDetail" resultType="com.kuyuner.bg.approval.bean.PurchasePendingListView">
		select
		t.ID as "id",
		r.ID as "taskId",
		r.PRO_DEF_NAME as "processName",
		r.NAME as "taskName",
		u.name as "sender",
		t.name as "name",
		t.REASON as "reason",
		t.APPROVAL_RESULT as "approvalResult",
		t.TOTAL_PRICE as "totalPrice",
		t.CREATE_DATE as "time"
		from V_WF_RU_TASK r
		inner join T_AP_PURCHASE t on t.id = r.business_id
		inner join T_PT_USER u on u.id = t.sender_id
		<where>
			(r.ASSIGNEE = #{userId} or (r.ASSIGNEE is null and r.USER_ID = #{userId}))
			<if test="taskId != null and taskId != ''">
				AND r.ID = #{taskId}
			</if>
		</where>
		order by t.CREATE_DATE desc
	</select>
</mapper>