<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kuyuner.core.sys.dao.DictDataDao">

    <!--auto generated Code-->
    <sql id="AllColumns">
		t.id AS "id",
		t.dict_code AS "dictCode",
		t.dict_value AS "dictValue",
		t.dict_type AS "dictType",
		t.creater AS "creater",
		t.create_date AS "createDate",
		t.update_date AS "updateDate",
		t.del_flag AS "delFlag",
		t.sort AS "sort"
	</sql>

    <!--auto generated Code-->
	<sql id="AllJoins">
	</sql>


    <!--auto generated Code-->
	<select id="get" resultType="com.kuyuner.core.sys.entity.DictData">
		SELECT
			<include refid="AllColumns"/>
		FROM T_PT_DICT_DATA t
            <include refid="AllJoins"/>
		WHERE t.DEL_FLAG = #{delFlag} and t.ID = #{id}
	</select>

	<!--auto generated Code-->
	<select id="findList" resultType="com.kuyuner.core.sys.entity.DictData">
		SELECT
			<include refid="AllColumns"/>
		FROM T_PT_DICT_DATA t
		    <include refid="AllJoins"/>
		<where>
			t.DEL_FLAG = #{delFlag}
            <if test="id != null and id != ''">
                AND t.id = #{id}
            </if>
            <if test="dictCode != null and dictCode != ''">
                AND t.dict_code = #{dictCode}
            </if>
            <if test="dictValue != null and dictValue != ''">
                AND t.dict_value = #{dictValue}
            </if>
            <if test="dictType != null and dictType != ''">
                AND t.dict_type = #{dictType}
            </if>
            <if test="creater != null and creater != ''">
                AND t.creater = #{creater}
            </if>
            <if test="sort != null and sort != ''">
                AND t.sort = #{sort}
            </if>
		</where>
		order by t.sort asc
	</select>

	<!--auto generated Code-->
	<insert id="insert">
		INSERT INTO T_PT_DICT_DATA
		<trim prefix="(" suffix=")" suffixOverrides=",">
        	<if test="id != null"> id, </if>
        	<if test="dictCode != null"> dict_code, </if>
        	<if test="dictValue != null"> dict_value, </if>
        	<if test="dictType != null"> dict_type, </if>
        	creater,
            create_date,
            update_date,
        	<if test="delFlag != null"> del_flag, </if>
        	<if test="sort != null"> sort, </if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id}, </if>
            <if test="dictCode != null"> #{dictCode}, </if>
            <if test="dictValue != null"> #{dictValue}, </if>
            <if test="dictType != null"> #{dictType}, </if>
        	#{creater},
            SYSDATE(),
            SYSDATE(),
            <if test="delFlag != null"> #{delFlag}, </if>
            <if test="sort != null"> #{sort}, </if>
		</trim>
	</insert>

	<!--auto generated Code-->
	<update id="update">
		UPDATE T_PT_DICT_DATA
		<set>
            <if test="id != null"> id = #{id}, </if>
            <if test="dictCode != null"> dict_code = #{dictCode}, </if>
            <if test="dictValue != null"> dict_value = #{dictValue}, </if>
            <if test="dictType != null"> dict_type = #{dictType}, </if>
            <if test="creater != null"> creater = #{creater}, </if>
            update_date = SYSDATE(),
            <if test="sort != null"> sort = #{sort}, </if>
		</set>
		WHERE ID = #{id}
	</update>

    <update id="updateDictType">
		UPDATE T_PT_DICT_DATA set dict_type = #{newDictType} where dict_type = #{oldDictType}
	</update>

    <!--auto generated Code-->
    <delete id="deletes">
        DELETE FROM T_PT_DICT_DATA where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

	<select id="getDictByType" resultType="com.kuyuner.core.sys.entity.DictData">
		SELECT
		<include refid="AllColumns"></include>
		FROM T_PT_DICT_DATA t
		WHERE t.DICT_TYPE = #{dictType}
	</select>
</mapper>