.select-file{width: 300px;height: 150px;position: absolute;right: 0px;top: 0px;cursor: pointer;opacity: 0;-moz-opacity:0;
    -khtml-opacity: 0;filter:alpha(opacity=0);}
.edit-form .help-block {margin-bottom: 0px}
.edit-form .file-block {margin-top: 5px}
.edit-form .file-delete {float: none;position: absolute;right: 4px;top: 3px;}
.file-view{position: absolute;left: 244px;top: 5px;font-size: 20px;}
.edit-form .select-filename {width: 220px;line-height: 1.6;border: 1px solid #ccc;border-radius: 10px;
    position: relative;padding: 2px 20px 2px 7px;background-color: white;display: inline-block;overflow: hidden;
    text-overflow: ellipsis;white-space: nowrap;margin-right: 5px}